﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard V.1 | Kiaalap - Kiaalap Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../Content/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/owl.carousel.css">
    <link rel="stylesheet" href="../Content/css/owl.theme.css">
    <link rel="stylesheet" href="../Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="../Content/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="../Content/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="../Content/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="../Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @RenderBody()
    <!-- jquery
        ============================================ -->
    <script src="../Content/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="../Content/js/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="../Content/js/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="../Content/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="../Content/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="../Content/js/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="../Content/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="../Content/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="../Content/js/counterup/jquery.counterup.min.js"></script>
    <script src="../Content/js/counterup/waypoints.min.js"></script>
    <script src="../Content/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="../Content/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../Content/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="../Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="../Content/js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="../Content/js/morrisjs/raphael-min.js"></script>
    <script src="../Content/js/morrisjs/morris.js"></script>
    <script src="../Content/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="../Content/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="../Content/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="../Content/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="../Content/js/calendar/moment.min.js"></script>
    <script src="../Content/js/calendar/fullcalendar.min.js"></script>
    <script src="../Content/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="../Content/js/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="../Content/js/main.js"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="../Content/js/tawk-chat.js"></script>

    
</body>
</html>